body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 255, 174, 0.632);
}

.navbar-brand {
    color: #fff !important; 
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
    font-size: 18px;
}

.nav-link:hover {
    color: #000 !important;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    border-radius: 20px;
    font-size: 16px;
}

.container-fluid {
    margin-top: 20px;
}

.container-fluid > .content-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
